@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

header {
    width: calc(100% + 16px);
    height: 40px;
    background-color: blue;
    position: relative;
    top: -8px;
    left: -8px;
}

body {
    background-color: #E0E0E0;
}

.board-container {
    width: 100%;
    min-height: 800px;
}

.board-card {
    border: 1px solid black;
    display: inline-block;
    width: 450px;
    height: 320px;
    margin: 10px 15px;
    padding: 5px;
}

.keyword-name {
    margin: 10px;
}

.post-list {
    width: 100%;
}

.post-list thead {
    text-align: left;
}

.post-list th:last-child {
    width: 100px;
}

footer {
    width: calc(100% + 16px);
    height: 250px;
    position: relative;
    left: -8px;
    bottom: -8px;
    background-color: red;
}